@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  @apply transition-colors duration-200;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg-signup{
  background-image: url('./assets/bg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
}
