@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  @apply transition-colors duration-200;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg-forgotpass{
  background-image: url("./assets/fgpass.jpg");
  margin: 0;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-signup {
  background-image: url("./assets/bg3.jpg");
  margin: 0;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
